<nav class="main-nav">
  <div class="container">
    <div class="logo" style="display: flex">
      <img style="width: 50px" src="../../../assets/FoodApp.JPG" alt="logo" />
      <!-- <a class="logo-header"> Recipe bok</a> -->
    </div>
    <div class="header-nav">
      <ul class="header-nav-list">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">{{ "recipes" | translate }}</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">{{ "auth" | translate }}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">{{ "shopping-list" | translate }}</a>
        </li>
      </ul>
      <form action="">
        <select
          [(ngModel)]="selectedLanguage"
          (change)="switchLanguage()"
          [ngModelOptions]="{ standalone: true }"
          name=""
          id=""
        >
          <option value="pl">pl</option>
          <option value="en">en</option>
        </select>
      </form>
      <div
        [style.background-color]="bannerBackground"
        [style.color]="bannerText"
      >
        <p>This is a banner with dynamic colors!</p>
      </div>
      <ul class="header-nav-dropdown">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer">Log Out</a>
        </li>
        <li *ngIf="isAuthenticated" appDropdown class="dropdown">
          <a style="cursor: pointer" class="dropdown-toggle">Manage</a>
          <ul class="dropdown-menu">
            <li (click)="onSaveData()" class="dropdown-menu-item">
              <a style="cursor: pointer">Save data</a>
            </li>
            <li (click)="onFetchData()" class="dropdown-menu-item">
              <a style="cursor: pointer">Fetch data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
