<div class="row">
  <div>
    <img
      src="{{ elementRecipe.imagePath }}"
      alt="{{ elementRecipe.name }}"
      class="img-responsive"
      style="max-height: 50px"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>{{ elementRecipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div [ngClass]="{ open: showRecipe }" class="btn-group">
      <button
        (click)="toggleRecipe()"
        style="cursor: pointer"
        class="btn btn-blue"
        type="button"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="addToShoppinglist(elementRecipe)"
            >Shopping list</a
          >
        </li>
        <li>
          <a (click)="onEditRecipe()" style="cursor: pointer">Edit Recipe</a>
        </li>
        <li><a style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">{{ elementRecipe.desc }}</div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let item of elementRecipe.ingredients"
      >
        {{ item.name }} -- {{ item.amount }}
      </li>
    </ul>
  </div>
</div>
