<div class="row-wrap">
  <div class="column-wrap">
    <div>
      <img style="width: 100px" src="../../../assets/FoodApp.JPG" alt="logo" />
    </div>
    <h1>{{ "create" | translate }}</h1>
    <div class="container">
      <div class="notifications">
        <app-notification
          *ngFor="let message of notifications; let i = index"
          [message]="message"
          [index]="i"
          (closeNotification)="removeNotification($event)"
        ></app-notification>
      </div>
    </div>
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="column-wrap">
      <div class="form-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm" *ngIf="!isLoading">
          <div formGroupName="userDataGroup">
            <div class="form-group">
              <!-- <label for="email">E-mail</label> -->
              <input
                formControlName="email"
                placeholder="email"
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <!-- <label for="password">Password</label> -->
              <input
                formControlName="password"
                placeholder="password"
                type="password"
                name="password"
                id="password"
              />
            </div>
          </div>
          <div class="btn-wrap">
            <button
              [disabled]="!authForm.valid"
              type="submit"
              [ngClass]="{
                btn: true,
                'btn-grey ': !authForm.valid,
                'btn-red': authForm.valid
              }"
            >
              {{ getSignUpText() | translate }}
            </button>

            <button type="button" class="btn btn-red" (click)="onSwitchMode()">
              {{ getChangeLoginText() | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
