<div class="row-wrap">
  <div class="column-wrap">
    <div>
      <img style="width: 100px" src="../../../assets/FoodApp.JPG" alt="logo" />
    </div>
    <h1>Create new Account.</h1>
    <div class="column-wrap">
      <div class="form-container">
        <form action="">
          <div class="form-group">
            <!-- <label for="email">E-mail</label> -->
            <input
              placeholder="email"
              type="email"
              name="email"
              id="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input
              placeholder="password"
              type="password"
              name="password"
              id="password"
            />
          </div>
          <div class="btn-wrap">
            <button class="btn btn-red">Sign Up</button>

            <button class="btn btn-red">Switch to Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
