/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "lato", sans-serif;
  color: white;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.btn-red,
.btn-blue,
.btn-green,
.btn-orange,
.btn-grey {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #ffffff;
  color: #000;
  background: transparent;
  z-index: 0;
}

.btn-red:hover:after,
.btn-blue:hover:after,
.btn-orange:hover:after,
.btn-green:hover:after,
.btn-grey:hover:after {
  top: 0;
  left: 0;
}
.btn-red::after,
.btn-blue::after,
.btn-orange::after,
.btn-green::after,
.btn-grey::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ef233c;
}
.btn-blue::after {
  background-color: rgb(40, 40, 255);
}
.btn-orange::after {
  background-color: orange;
}
.btn-green::after {
  background-color: green;
}
.btn-grey::after {
  background-color: grey;
}

.custom-snackbar {
  background-color: crimson;
  position: absolute;
  transform: translate(50%, -50%) !important;
  margin: 0 auto; /* Center horizontally */
  bottom: 0px;
  right: 50%; /* Distance from the bottom */
}
.mat-simple-snackbar {
  color: white;
}
.mat-simple-snackbar-action button {
  background-color: white;
  color: black;
}
/* 

buttons
*/

.open .dropdown-menu {
  display: block;
}
.row-wrap {
  display: flex;
}
.column-wrap {
  display: flex;
  flex-direction: column;
}
