.row {
  display: flex;
  /* background-color: bisque; */
  padding: 15px 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-control {
  padding: 15px;
  outline: none;
}
.form-control label {
  display: block;
}
.btn {
  margin: 0 10px;
}
/* 


*/

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: default-button;
}
input {
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: #6200ff;
  color: white;
  font-weight: bold;
}

/* input:focus[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: default-button !important;
} */
